body{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
div
{    border-radius: 5px;
    }
#contact
{
    margin-left:45%;
    padding-bottom: 10px;
	font-size: 16px;
	color: #ffffff;
    }
.left
{
    float: left;
    padding-left:5px;
    height: auto;
    width: 60%;
    background-color: #d8e8ed;
    }

.right
{
    float: right;
    width:20%;
    background-color: #d8e8ed;
} 
#heading-name
{
    height:2px;
    }
#title
{   font-weight: bold;
    height: 4px;
    }