body{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #d8e8ed;
}
div
{    border-radius: 5px;
    }
.left
{
    float: left;
    padding-left:5px;
    height: auto;
    width: 60%;;
    }

.right
{
    float: right;
    width:20%;
} 
#heading-name
{
    height:2px;
    }
#title
{   font-weight: bold;
    height: 4px;
    }
